.container-fluid{
  padding : 1% 1%;
}

h1{
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-size: 3rem;
  line-height: 3;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.navbar{
  padding: 0 0;
  background-color: #E4FBFF;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  
}
.navbar-nav{
  margin-left: 40%;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  
}
.nav-item{
  padding: 0 10px;
  
}

.nav-link{
  padding-right: 209px;
  justify-content:flex-end;

}
.carousel-item{
  width: 100%;
  height: 500px;
}
#press{
  background-color: #81F5FF;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;

}
h3{
  font-family:Montserrat;
  font-weight: bold;
}
#cta{
  text-align: center;
  background-color: white;
}
.footer{
  font-size: 2rem;
  padding:  1% 1% 0;
  margin: 0;
  background-color: #E4FBFF;
}
.add{
  font-size: 1rem;
  padding:  1% 1%;
  text-align: center;
  margin-top: 0;
  background-color: #E4FBFF;
}
.left-text-content p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: #666262;
}
/* shooter*/
.shooter{
  font-size: 1rem;
  font-family:Montserrat;
  font-weight: bold;
  color: black;
  /* margin: 0; */
  background-color: #E4FBFF;
  position:relative;
  bottom:0;
}
.shooter h3{
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}
.shooter h2{
  font-size: 1.5rem;
  /* font-family: cursive; */
  text-align: center;
}
.shooter h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
}
.shooter h6{
  font-family: cursive;
  font-size: 1.2rem;
  text-align: center;
}
.copy{
  font-family: cursive;
  font-size: 0.9rem;
  text-align: center;
}
#chefs {
 background-color: #97d4db;
 color: #000000;
}

#chefs .section-heading {
  margin-bottom: 70px;
}

#chefs .section-heading h6 {
  padding-left: 0px;
}

#chefs .section-heading h6:before {
  display: none;
}

#chefs .chef-item {
  text-align: center;
  border: 2px solid #000000;
  padding: 0;
  transition: all .5s;
  border-radius: 0;
}

#chefs .chef-item:hover {
  border-color: #ffffff;
}

#chefs .chef-item:hover .down-content h4 {
  color: #ffffff;
}

#chefs .chef-item .thumb {
  position: relative;
}

#chefs .chef-item .thumb img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#chefs .chef-item .thumb .overlay {
  position: absolute;
  background-color: #2a2a2a;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#chefs .chef-item .thumb ul.social-icons {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

#chefs .chef-item .thumb ul.social-icons li {
  display: inline-block;
  margin: 0px 5px;
}

#chefs .chef-item .thumb ul.social-icons li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #2a2a2a;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  transition: all .5s;
}

#chefs .chef-item .thumb ul.social-icons li a:hover {
  background-color: #d1b5b2;
}

#chefs .chef-item:hover .overlay {
  opacity: .9;
  visibility: visible;
}

#chefs .chef-item:hover ul.social-icons {
  opacity: 1;
  visibility: visible;
}

#chefs .chef-item .down-content {
  padding: 20px 0px;
}

#chefs .chef-item .down-content h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

#chefs .chef-item .down-content span {
  font-size: 14px;
  color: #2a2a2a;
}
#ser {
  background-color: #ffffff;
  color: #131111;
  font-family: cursive;
  font-size: 0.9rem;
  text-align: center;
}
#ser .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    background-color:#75c3d1;
    transition: .5s;
    border: 2px solid #092485;
}

#ser .service-item:hover {
    background: var(--primary);
    background-color: #E4FBFF;
}

#ser .service-item * {
    transition: .2s;
    color: #ffffff;
}

#ser .service-item:hover * {
    color: var(--light) !important;
}
